<%- include ('includes/head.ejs') %>
<body>
<%- include ('includes/nav.ejs') %>

<main class="mt-5 container">
    <h1 class="text-center">Book Information</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4 shadow-sm">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= book.image %>" class="img-fluid rounded-start" alt="Book Cover" height="100%">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= book.title %></h5>
                            <p class="card-text"><strong>Author(s):</strong> <%= book.authors.join(", ") %></p>
                            <p class="card-text"><strong>Description:</strong> <%= book.description %></p>
                            <p class="card-text"><strong>Publisher:</strong> <%= book.publisher %></p>
                            <p class="card-text"><strong>Date Published:</strong> <%= new Date(book.datePublished).toLocaleDateString() %></p>
                            <p class="card-text"><strong>Edition:</strong> <%= book.edition %></p>
                            <p class="card-text"><strong>Price:</strong> $<%= book.price %></p>
                            <p class="card-text"><strong>State:</strong> <%= book.state %></p>
                            <p class="card-text"><strong>Inventory:</strong> <%= book.inventory %> units available</p>
                            <button class="btn btn-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>